.box
  = form_for [current_user, resource], :url => user_notes_path, :html =>{ class: 'form-horizontal', role: 'form' } do |f|
    .form-group
      %label.form-label Titel:
      = f.text_field :title

    %hr
    .form-group
      %label.form-label Inhalt:
      = f.cktext_area :content

    %center
      = f.submit 'Speichern', class: 'btn btn-primary form-submit'
