.col-md-8.table-nav
  %ul.nav.nav-tabs
    %li{ class: "#{ current_action == 'index' ? 'active' : '' }" }
      = link_to user_notes_path do
        %span.glyphicon.glyphicon-align-justify
    %li{ class: "#{ current_action == 'new' ? 'active' : '' }" }
      = link_to new_user_note_path do
        %span.glyphicon.glyphicon-plus
