%h4 Notizen

= render 'navigation', current_action: 'show'
.col-md-8
  .box
    %ul
      %li
        %label Titel
        = resource.title
      %li
        %label Inhalt
        = resource.content
      %li
        %label Erstellt am
        = resource.created_at
