@import 'bootstrap'

.navbar
  margin: 1px
  background-color: #2E2E2E

.navbar-brand
  margin-top: 5px
  padding-top: 0
  padding-bottom: 0
  padding-left: 220px
  width: 280px

.navbar-default
  .navbar-nav
    li
      a
        font-size: 12px
        font-weigth: bold
        color: white
        &:hover
          color: #ccc 

table 
  td, th
    border: 0px !important
label
  width: 130px

ul
  list-style-type: none


.table-nav
  margin-bottom: 20px

.table-head
  border: 0px

.base-container
  margin-top: 50px
  margin-left: 50px

.box
  padding: 10px
  border: 1px solid #ccc
  border-radius: 4px

.form-label
  margin-left: 150px
  margin-right: 10px

.form-submit
  margin-left: 10px

.email, .password
  width: 170px
  float: rigth
  clear: both

#notices
  width: 250px
  position: relative
  padding: 5px
  margin: 1em 0 3em
  color: #000
  background: #2E2E2E
  border-radius: 5px

  &:after
    content: ""
    position: absolute 
    border-style: solid
    border-color: #2E2E2E transparent
    display: block
    width: 0 
    top: -15px     
    right: 80px 
    bottom: auto
    left: 205px
    border-width: 0 15px 15px 

.alert-success, .alert-danger
  padding-top: 10px
  padding-left: 10px
  padding-right: 10px
  padding-bottom: 5px
  background-color: #2E2E2E

.btn-devise
  width: 170px

.devise-links
  padding-top: 20px
.box-devise
  .form-group
    padding-left: 15px
  @extend .box
  width: 270px
  overflow: auto
  padding: 50px
  margin-left: 220px
  
.base
  margin: 20px

h4
  @extend .base

.search-form
  input
    width: 150px
  padding-left: 100px
