@import 'bootstrap'

/* Base layout */

.container
  padding: 0
  width: 100%

.left-workspace
  background-color: #dcdcdc
  height: 550px
  padding: 0 5px
  border-radius: 2px
  border: 1px solid black

.center-workspace
  background-color: white
  height: 550px
  // width: 1030px

.body
  margin-top: 8px
  margin-left: 10px
.footer
  background-color: #2E2E2E
  border-radius: 2px
  bottom: 0
  color: white
  margin: 5px 0px
  position: fixed
  width: 99%

/* Navigation  */

.navbar
  width: 99%
  margin: 3px
  background-color: #2E2E2E

.navbar-brand
  margin-top: 5px
  padding-top: 0
  padding-bottom: 0

.nav-info
  color: white
  width: 500px
  margin-top: 8px
  padding: 0px
  font-size: 22px

.navbar-default
  .navbar-nav
    li
      a
        font-size: 12px
        font-weigth: bold
        color: white
        &:hover
          color: #ccc

table
  td, th
    border: 0px !important
label
  width: 130px

ul
  list-style-type: none


.table-nav
  margin-bottom: 20px

.table-head
  border: 0px

.base-container
  margin-top: 10px
  margin-left: 10px

.box
  padding: 10px
  border: 1px solid #ccc
  border-radius: 4px

.form-label
  margin-left: 150px
  margin-right: 10px

.form-submit
  margin-left: 10px

.email, .password
  width: 170px
  float: rigth
  clear: both

/* Speech bubble */

#notices
  width: 270px
  position: relative
  padding: 5px
  margin: 1em 0 3em
  color: #000
  background: #2E2E2E
  border-radius: 5px

  &:after
    content: ""
    position: absolute
    border-style: solid
    border-color: #2E2E2E transparent
    display: block
    width: 0
    top: -18px
    right: 80px
    bottom: auto
    left: 226px
    border-width: 0 22px 35px

.alert-success, .alert-danger
  padding: 5px
  background-color: #2E2E2E

/* --- end speech bubble --- */


/* Devise templates */

.btn-devise
  width: 170px

.devise-links
  padding-top: 20px

.box-devise
  margin: 0px auto
  .form-group
    padding-left: 15px
  @extend .box
  width: 270px
  overflow: auto
  padding: 50px

/* -- end Devise templates --- */

.base
  margin: 20px

h4
  @extend .base

.search-form
  input
    width: 150px
  padding-left: 100px
